<div data-controller="search">
  <div class="search-container">
    <%= form_tag(search_path, method: "post", local: true) do %>
      <%= text_field_tag :query, {}, placeholder: "Enter your search query", class: 'text-field', id: 'search-field' %>
    <% end %>
  </div>
</div>