/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Search container */
.search-container {
  text-align: center;
  margin-top: 50px;
}

.text-field {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 400px;
  margin-right: 10px;
  font-size: 22px;
}

.submit-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #29b97d;
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #237050 !important;
  transition: background-color 0.3s;
}

/* Results container */
.results-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  width: 70%;
}

.results-container h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* Card styles */
.card {
  border-radius: 8px;
  border: 2px dashed #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.card ul {
  list-style: none;
  padding: 0;
}

.card li {
  margin-bottom: 8px;
  font-size: large;
}

.card li strong {
  font-weight: bold;
}


